body {
    font-family: Arial;
    background: #f5f5f5;
    padding: 30px;
}

h2 {
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin: 20px auto;
    box-shadow: 0 0 10px #ccc;
}

input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
}

button,
.btn {
    padding: 10px;
    background: #2196f3;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover,
.btn:hover {
    background: #0c7cd5;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 80%;
}

th,
td {
    padding: 10px;
}